@import "../../../styles/_variables.scss";
@import "../../../styles/_breakpoints.scss";

.footer {
  padding: 30px 0px 30px 0px;
  background-color: $color-blue;
}
.social_media {
  gap: 20px;
}
.footerLogo {
  margin-bottom: 20px;
}
.address {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-white;
  text-align: center;
  margin-top: 20px;
  margin-top: 0px;
  .cmpnyName {
    margin-top: 20px;
  }
  p {
    margin-bottom: 4px;
  }
}
.privacy_policy {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: $color-white;
  :first-child {
    margin-bottom: 12px;
  }
  :last-child {
    margin-bottom: 0px;
  }
}
@media (min-width: $mobile) and (max-width: $tablet) {
  .social_media {
    gap: 20px;
  }
}
@media (min-width: 320px) and (max-width: $mobile) {
  .footer_inner {
    flex-direction: column;
    row-gap: 25px;
  }
  .privacy_policy {
    display: flex;
    column-gap: 20px;
  }
  .social_media {
    gap: 26px;
  }
  .privacy_policy {
    font-size: 15px;
  }
}
